/****Twin Computer**********/
/****Index CSS Stylesheet**/
/****Angela Petsuch*******/

/******************/
/* navbar styles */
/****************/
nav {
	opacity: .9;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
	color: #00fdcb!important;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
	color: #000;
	background-color: #00fdcb;
	border-color: #dee2e6 #dee2e6 #fff;
	opacity: .6;
}
#active-color:hover {
    background: transparent;
    border: 1px solid #00fdcb;
}	
.tel:hover {
	color: rgba(255,255,255,.5);
	text-decoration: none;
}
#call {
	color: white;
	padding-right: 10px;
}
#btn-call {
	color: #00fdcb;
	background-color: transparent;
	border: 1px solid #00fdcb;
	padding: 10px;
}
#btn-call:hover {
	color: #000;
	background-color: #00fdcb;
	border-color: #00fdcb;
	opacity: .6;
	text-decoration: none;
}


/*************************/
/* text and body styles */
/***********************/
body, html {
	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #343a40;
	background-color: #fff;
	min-height: 400px;
	text-align: center;
}
p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Archivo', sans-serif;
	font-weight: 500;
	color: #00fdcb;
}
h1, h5 {
	opacity: .7;
}


/******************/
/* header styles */
/****************/
.hero-image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/computer_services.jpg");
	height: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.hero-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}


/*********************/
/* body card styles */
/*******************/
.service-card {    		
    margin-bottom: 24px;
    margin-top: 24px;
    position: relative;
    border: 0.5px solid #343a40;
    opacity: .9;
    background-color: #fff;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.service-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.service-card p {
	color: #343a40;
}

.service-card__top {
	padding: 32px 24px 24px;
    position: relative;
}

@media (min-width701px)
.service-card__top {
		  min-height: 292px;
}
i {
	margin-bottom: 25px;
}


/******************/
/* footer styles */
/****************/
#footer {
	height: 150px;
	width: 100%;
	padding-top: 10px;
	opacity: .95;
}
p a {
	letter-spacing: .2em;
	margin-right: 2px;
	color: white;
}
div p a:hover {
	text-decoration: none;
	color: #00fdcb!important;
}
